<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Homepage</a></li>
        <li><a href="{{ '/education/' | relative_url }}">Education</a></li>
        <li><a href="{{ '/publications/' | relative_url }}">Publications & Research</a></li>
        <li><a href="{{ '/work/' | relative_url }}">Work & Internship</a></li>
        <li><a href="{{ '/activities/' | relative_url }}">Activities</a></li>
        <li><a href="{{ '/awards/' | relative_url }}">Awards & Skills</a></li>
        <li><a href="{{ '/others/' | relative_url }}">Others</a></li>
      </ul>
    </nav>
  </div>
</div>